.nav {
  padding: 2em 0;
  padding-top: 3em;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-list {
    display: flex;
    list-style: none;

    &-item {
      margin-right: 1.5em;
      color: #999999;
      transition: all 0.5s;
      &:hover {
        color: $primary;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      font-size: 1.7rem;
    }
    img {
      width: 3.5em;
      height: 3.5em;
      display: block;
    }
  }
}
